.loader_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loader {
  font-size: 5px;
  border-top: 1.5em solid rgba(0, 0, 0, .15);
  border-right: 1.5em solid rgba(0, 0, 0, .15);
  border-bottom: 1.5em solid rgba(0, 0, 0, .15);
  border-left: 1.5em solid rgba(0, 0, 0, 0.3);
  transform: translateZ(0);
  animation: spinner .9s infinite linear;
}

.loader, .loader::after {
  border-radius: 50%;
  width: 15em;
  height: 15em;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
