.input-container {
  & input {
    border: 2px solid transparent;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 500px;
    padding: 15px;
    font-size: 14px;
    color: #222;
    border-radius: 0;
    transition: all 0.2s;
    &.error {
      background: #fce8e6;
    }
    &::placeholder {
      color: rgba(0, 0, 0, 0.4);
    }
  }
  & label {
    display: block;
    font-size: 0.8rem;
    color: #777;
    margin-bottom: 5px;
  }
  & .error-text {
    font-size: 14px;
    color: rgba(244, 54, 54, 1);
    width: 100%;
    max-width: 500px;
    margin: 5px 0 15px;
  }
}
