.button-group {
  font-size: 14px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  & a {
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.9);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s;
    &:hover {
      color: #efefef;
    }
    &:hover svg {
      fill: #efefef;
    }
  }
  & svg {
    margin-right: 7px;
  }
  .twitter:hover {
    background: #00aced;
  }
  .facebook:hover {
    background: #33539a;
  }
  .email:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}
