.button {
  position: relative;
  padding: 0 15px;
  text-align: center;
  color: #faf9f9;
  cursor: pointer;
  border: none;
  transition: .2s;
  overflow: hidden;
}

.primary {
  background: rgba(3, 169, 244, 1);
}

.primary:hover {
  background: rgba(3, 169, 244, .8);
}

.secondary {
  background: rgba(0, 0, 0, .3);
}

.secondary:hover {
  background: rgba(0, 0, 0, .4);
}

.reverse {
  background: rgba(0, 0, 0, .020);
  color: #666;
  box-shadow: inset 0 0 0 1.5px rgb(150, 203, 254);;
}

.reverse:hover {
  background: rgba(0, 0, 0, .05);
}

.danger {
  background: rgba(244, 74, 56, 1);
}

.danger:hover {
  background: rgba(244, 74, 56, .8);
}

.small {
  font-size: .85rem;
  padding: 10px;
}

.normal {
  font-size: 1rem;
  padding: 15px 20px;
}

.large {
  font-size: 1.5rem;
  padding: 15px 20px;
}

.button:disabled,
.button[disabled] {
  background: #cccccc;
  pointer-events: none;
}

/* For ripple effect */
.button:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, .15);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

.button.reverse:after {
  background: rgba(0, 0, 0, .1);
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(12, 12);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(25, 25);
  }
}

.button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}
