.button {
  font-size: 1rem;
  color: #faf9f9;
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  transition: .2s;
}

.primary {
  background: rgba(3, 169, 244, 1);
}

.primary:hover {
  background: rgba(3, 169, 244, .8);
}

.secondary {
  background: rgba(2, 60, 149, 1);
}

.secondary:hover {
  background: rgba(2, 60, 149, .8);
}

.reverse {
  background: rgba(0, 0, 0, .025);
  color: rgba(2, 60, 149, 1);
  box-shadow: inset 0 0 0 1px rgba(2, 60, 149, 1);
}

.reverse:hover {
  background: rgba(0, 0, 0, .075);
}

.danger {
  background: rgba(244, 74, 56, 1);
}

.danger:hover {
  background: rgba(244, 74, 56, .8);
}

.button:disabled,
.button[disabled] {
  background: #cccccc;
  pointer-events: none;
}
