.menu {
  --primary: #282938;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  color: rgba(255, 255, 255, 0.8);
  width: 200px;
  & ul {
    margin: 0;
    padding: 0;
  }
  & li {
    list-style: none;
  }
  & > li.expanded .menu-item svg {
    transform: rotate(90deg);
  }
}
