.nav-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  color: rgba(255, 255, 255, 0.8);
  width: 200px;
}

.nav-menu ul {
  margin: 0;
  padding: 0;
}

.nav-menu li {
  list-style: none;
}

.nav-menu > li.expanded .menu-item svg {
  transform: rotate(90deg);
}
