.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.wrapper aside {
  background: #F4F4FD;
}

.main {
  display: grid;
  grid-template-columns: 15% 40% 45%;
  min-width: 0;
}
