.examples {
  padding: 25px;
  background: #fbfbff;
}

.examples h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.examples h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 10px;
}

.example {
  margin-right: 20px;
}

.description {
  margin-bottom: 25px;
}
