.examples {
  padding: 25px;
}

.examples > h2 {
  font-size: 2em;
  font-weight: 100;
  margin: 0 0 20px;
}

.examples > h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 30px 0 10px;
}

.example {
  padding: 30px 25px;
  margin: 0 -25px;
}

.description {
  margin-bottom: 25px;
}
