.wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  padding: 0 25px;
}

.wrapper h1 {
  margin: 0;
  font-weight: 100;
}

.main {
  display: grid;
  grid-template-columns: 40% 60%;
  min-width: 0;
}
