.button-container {
  display: grid;
  margin-top: auto;
  & a,
  & button {
    display: block;
    margin-top: 20px;
  }
  & .icon svg {
    transition: fill 0.2s;
    &:hover {
      fill: rgba(0, 0, 0, 0.4);
    }
  }
}
