.swiper-container {
  position: relative;
  overflow: hidden;
  & .swiper-image-container {
    white-space: nowrap;
    & img {
      width: 100%;
      min-width: 100%;
      object-fit: contain;
    }
  }
}
