.swipe-container {
  position: relative;
  overflow: hidden;
  max-width: 500px;
  & .images-container {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    & img {
      width: 100%;
      min-width: 100%;
      object-fit: contain;
    }
  }
}
