.sub-menu {
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: height 0.2s;
  background: black;
  &.expanded {
    height: 100px;
    visibility: visible;
    opacity: 1;
  }
  & li {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.1s;
    margin-top: 0;
    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  & a {
    color: rgba(255, 255, 255, 0.8);
    background-color: #111;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    height: 50px;
    border-left: 3px solid transparent;
    transition: all 0.2s;
    &:hover {
      background-color: #000;
    }
  }
}
