.header {
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  height: 57px;
  padding: 15px 25px;
  color: #EEE;
  background: var(--primary);
  z-index: 1;
}

.header h1 {
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
}
