.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  background: #f2f2f2;
  max-width: 250px;
  padding: 30px;
}

.card img {
  height: 100px;
}

.card h3 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  font-weight: 400;
}

.description {
  margin-bottom: 10px;
}
