.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .3);
  z-index: 1;
}

.modal {
  position: relative;
  display: grid;
  grid-gap: 35px;
  align-content: center;
  justify-content: center;
  padding: 50px;
  width: 50%;
  height: auto;
  background: #FFF;
  text-align: center;
}

.modal header {
  font-size: 2rem;
  font-weight: 100;
}

.x-button {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  width: 20px;
  fill: rgba(0, 0, 0, .3);
  stroke: rgba(0, 0, 0, .3);
  stroke-width: 2;
  transition: .2s;
}

.x-button:hover {
  fill: rgba(0, 0, 0, .8);
  stroke: rgba(0, 0, 0, .8);
}

@media (max-width: 800px) {
  .modal {
    width: 100vw;
  }
}
