.wrapper {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  max-width: 730px;
  justify-items: center;
  align-items: center;
}

.image-container {
  display: flex;
  overflow: hidden;
}

.wrapper img {
  width: 100%;
  object-fit: contain;
}
