.carousel {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  max-width: 730px;
  justify-items: center;
  align-items: center;
  & .outer-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    & .inner-container {
      white-space: nowrap;
    }
  }
  & .arrow-icon {
    cursor: pointer;
    width: 30px;
    transition: fill 0.15s;
    &:hover {
      fill: rgba(0, 0, 0, 0.4);
    }
  }
}
