.wrapper {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  max-width: 730px;
  justify-items: center;
  align-items: center;
}

.images {
  position: relative;
  overflow: hidden;
}

.image-container {
  display: flex;
  align-items: flex-start;
}

.wrapper svg {
  transition: fill .15s;
}

.wrapper svg:hover {
  fill: rgba(0, 0, 0, .4);
}

.wrapper img {
  width: 100%;
  min-width: 100%;
  object-fit: contain;
}
