.dots-container {
  --primary: rgba(255, 255, 255, .6);
}

.dots-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--primary);
}

.dots-container span {
  margin: 0 6px;
  border-radius: 100%;
  border: 1px solid var(--primary);
  cursor: pointer;
}

.active {
  background: #FFF;
}
