.dots-container {
  --primary: rgba(255, 255, 255, 0.6);
}

.dots-container {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 3%;
  color: var(--primary);
}

.dots-container span {
  padding: clamp(4px, 2%, 7px);
  border-radius: 50%;
  border: 1px solid var(--primary);
  cursor: pointer;
}

.active {
  background: #fff;
}
