.dragAndDropContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

ul {
  background-color: #efeeee;
  padding: 1rem;
  min-width: 200px;
}

li {
  background-color: #fbfafa;
  padding: 0.5rem;
  cursor: move;
  margin: 0.5rem 0;
}

.dropzone {
  min-height: 100px;
}
