.table {
  --border: 1px solid rgba(52, 88, 226, 0.4);
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  & th,
  & td {
    font-size: 0.9rem;
    text-align: left;
    padding: 15px 0 15px 15px;
    vertical-align: top;
  }
  & th {
    color: rgba(52, 88, 226, 0.9);
    padding-bottom: 5px;
  }
  & tr {
    border-bottom: var(--border);
  }
  & td:not(:last-child) {
    white-space: nowrap;
  }
  & th:first-child,
  & td:first-child {
    padding-left: 0;
  }
}

@media (max-width: 800px) {
  .table {
    --first-column-spacing: 80px;
    & thead {
      display: none;
    }
    & tbody {
      & tr {
        display: block;
        float: left;
        width: 100%;
        height: 100%;
        margin-bottom: 5%;
      }
      & td:before {
        font-weight: bold;
        font-size: 0.9em;
        content: attr(data-title);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: var(--first-column-spacing);
        padding-right: 10px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border-left: var(--border);
        border-right: var(--border);
        background: rgba(52, 88, 226, 0.075);
        color: rgba(52, 88, 226, 0.9);
      }
      & td {
        display: table-cell;
        float: left;
        width: 100%;
        position: relative;
        padding-left: calc(var(--first-column-spacing) + 20px);
        padding-right: 5%;
        line-height: 1.4;
        vertical-align: middle;
        border-top: var(--border);
        border-right: var(--border);
      }
      & td:first-child {
        /* overrides desktop rule */
        padding-left: calc(var(--first-column-spacing) + 20px);
      }
    }
  }
}
