.favorites {
  margin: 20px 0;
}

.button-group {
  margin: 20px 0 10px;
}

.button-group button {
  margin-right: 10px;
}

.results {
  margin-top: 20px;
  color: rgba(0, 0, 0, .8);
}

.results h3 {
  font-weight: normal;
  margin: 0 0 5px 0;
}

.results p {
  margin: 0;
}

.results code {
  font-size: 1.2em;
  color: #888;
}